name: Publish Python package

on:
  push:
    branches:
      - main
    paths:
      - 'aibnbclean/*'

permissions:
  id-token: write
  contents: read #other permissions as needed

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install build tools
        run: python -m pip install --upgrade build twine
      - name: Build
        run: python -m build
      - name: Publish to PyPI
        run: python -m twine upload dist/*